.flex {
  display: flex;
  flex-direction: row;

  &--column {
    flex-direction: column;
  }

  &--auto {
    flex: auto;
  }

  @for $i from 0 through 12 {
    &--#{$i} {
      flex: $i;
    }
  }
}

.align {
  &-items {
    &-center {
      align-items: center;
    }
  }
}
